<% include ../partials/header %>

<div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 style="color: #660000;margin-top: 20px;"><span class="badge badge-info">About Us</span></h1>
                <p id="about">We are a non-profitable organization which aims to provide a better and easier way to find the required blood needed
                at the time. </p>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            
            <h1>Contributors</h1>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="ui single line table">
                    <thead>
                    <th>Name</th>
                    <th>Email <i class="envelope icon"></i></th>
                    <th>D.O.B</th>
                    <th>Gender</th>
                    <th>Blood Group</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Mobile</th>
                    </thead>
                    <% members.forEach(function(member){ %>
                    <tr>
                        <td><%= member.name %></td>
                        <td><%= member.email %></td>
                        <td><%= member.dob %></td>
                        <td><%= member.gender %></td>
                        <td><%= member.bloodGroup %></td>
                        <td><%= member.address %></td>
                        <td><%= member.city %></td>
                        <td><%= member.phone %></td>
                    </tr>
                    <% }); %>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    
    <br><br><br><br><br><br><br>
<% include ../partials/footer %>